<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Finder</mat-card-title>
  </mat-card-header>
  <mat-card-content>
   <mat-form-field appearance="">
     <input matInput placeholder="Make Name" [(ngModel)]="searchVal"  name="make-name">
      </mat-form-field>
  </mat-card-content>
  <mat-card-actions class="action">
    <button mat-button (click)="getMfname()">Search</button>
  </mat-card-actions>
</mat-card>


